@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{font-family: 'Montserrat', sans-serif;}
.container{
    width: 60%;
    margin: 0 auto;
}

.header-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-list{
    display: flex;
    justify-content: space-between;
    margin-left: 7%;
}
.header-list li a{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.05em;
    color: #101010;
    padding-right: 100px;
}
.phone-number{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    text-align: right;
    letter-spacing: 0.05em;
    color: #A52424;
}
header{
    margin-bottom: 50px;
}
.underhead-wrap{
    display: flex;
}
.underhead-col1{
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title{
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 88px;
    letter-spacing: 0.1em;
    color: #232323;
   
}
.subtitle{
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 140%;
    letter-spacing: 0.05em;
    color: #101010;
    padding-bottom: 50px;
}
.btn{
    height: 60px;
    width: 336px;
    border: 1px solid #A52424;
    background-color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #A52424;
}
.underhead{
    margin-bottom: 100px;
}
.aboutme .container .title{
    margin-bottom: 0px;
}
.aboutme-wrap{
    display: flex;
    justify-content: space-between;
}
.aboutme-col1{
    flex: 0 0 35%;
}
.aboutme-col2{
    flex: 0 0 60%;
    display: flex;
    flex-direction: column;
}
.white-block{
    width: 343.47px;
    height: 560.93px;
    background: #FFFFFF;
    box-shadow: 0px 6px 10px 3px rgba(0, 0, 0, 0.05);
    position: relative;
}
.aboutme-img{
    position: absolute;
    right: -10%;
    top: 10%;
}
.redtext{
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 140%;
    letter-spacing: 0.05em;
    color: #A52424;
}
.aboutme-col1-redtext{padding-top: 30px;}
.text{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.05em;
    color: #232323;
}
.aboutme-col2 .text:nth-child(2)
{
    padding-top: 25px;
}
.aboutme-col2-redtext{
    text-align: end;
    padding-right: 10%;
    padding-bottom: 25px;
}
.aboutme-col2 .white-block{
    width: 567.17px;
    height: 330.2px;
    box-shadow: 0px 6px 10px 3px rgba(0, 0, 0, 0.05);
    align-self: flex-end;
    position: relative;
}
.aboutme-img2{
    position: absolute;
    top: 10%;
    right: 5%;
}
.aboutme-img2 img{
    width: 731.95px;
    height: 268.05px;
}
.aboutme{
    margin-bottom: 100px;
}
.portfolio .container .title{
    margin-bottom: 50px;
}
.portfolio-wrap{
    display: flex;
    /* justify-content: space-between; */
}
.portfolio-col{
    flex: 0 0 33.333%;
}
.col-img{
    margin-bottom: 20px;
}
.portfolio-col .subtitle{
    padding-bottom: 15px;
}
.portfolio-col .text{
    text-align: left;
    padding-bottom: 15px;
}
.portfolio{
    margin-bottom: 150px;
}
.price .container .title{
    margin-bottom: 160px;
}
.price-wrap{
    display: flex;
    justify-content: space-between;
}
.price-card{
    position: relative;
    flex: 0 0 45%;
    background: #FFFFFF;
    box-shadow: 0px 6px 10px 3px rgba(0, 0, 0, 0.05);
    
}
.card-container{
    width: 85%;

    margin: 0 auto;
}
.card-img{
    height: 212px;
}
.card-img img{
    position: absolute;
    top: -23%;
    left: 22.5%;
}
.card-wrap .redtext{
    text-align: center;
    padding-bottom: 20px;
}
.card-charac{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.card-charac .text{
    line-height: 30px;
}
.text-bold{
    font-weight: 600;
    color: #232323;
}
.card-buy{
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
}
.cost{
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    display: flex;
    align-items: center;
    color: #A52424;
    flex: 0 0 35%;
}
.card-buy .btn{
    flex: 0 0 60%;
}
.img2{
    position: absolute;
    
}
.price{
    margin-bottom: 150px;
}
.page-form .container .title{
    padding-bottom: 100px;
}
.form-wrap{
    display: flex;
    justify-content: space-between;
}
.form-colum{
    flex: 0 0 45%;
    display: flex;
    
}
.form-colum2{
    flex: 0 0 45%;
    
}
.colum1-img{
    flex: 0 0 50%;
    position: relative;
}
.colum1-img2{
    flex: 0 0 50%;
}
.colum1-img img{
    position: absolute;
    top: 10%;
}
.form-colum2{
    display: flex;
    flex-direction: column;
}
.colform{
    display: flex;
    flex-direction: column;
}
.colinput{
    flex: 0 0 25%;
    margin-bottom: 40px;
    background: #FFFFFF;
    border: 0.5px solid #d0d0d0;
}
.colinput:placeholder-shown{
    padding-left: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.05em;
    color: rgba(35, 35, 35, 0.35);
}
.coltextarea{
   flex: 0 0 80%;
   resize: none;
}
.coltextarea:placeholder-shown{
    padding-top: 20px;
}

.form-btn{
    flex: 0 0 25%;
    width: 100%;
}
.page-form{
    margin-bottom: 150px;
}
.icon{
    height: 30px;
    width: 30px;
}
.footer{
    border: 0.3px solid #d0d0d0;
    height: 150px;
 
}
.footer .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.socmedia-wrap{
    display: flex;
    width: 200px;
    justify-content: space-between;
}